<ul id="tasks">
    <% if(tasks.length >0){ %>
        <% tasks.forEach((task,i)=>{ %>
            <li class = "task">
                
                <div class = "task-container">
    
                    <a class = "check-btn <%= (task.isDone)?'checked': 'unchecked'%>" data-doc = "<%= task._id %>">
                        <div class="checkbox"></div>
                        <div class="img-container"><img src="/assets/check-mark.png" alt="marked as done"></div>
                    </a>

                    <a class = "task-btn" href="/task/<%= task._id %>">
                        <%= task.content %>
                    </a>
                </div>
            </li>
        <%}); %>
    <%} %>
</ul>