<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h2>Erreur 404</h2>
        <p>Tu as fait fausse route</p>
    </main>
</body>
</html>