<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>Add task</h1>
        <ul id="tasks">
            <% if(tasks.length >0){ %>
                <% tasks.forEach((task)=>{ %>
                    <!-- <a href="/<%= task._id%>"> -->
                        <li class="task"><%= task.content %></li>
                    <!-- </a> -->
                <%}) %>
            <%} %>
        </ul>
        <div class="add-button">

        </div>
    </main> 
    <form action = '/task' method='POST'>
        <label for="content">New task :</label>
        <input type="text" id = "content" name = "content">
        <input type='submit' value = "create new task">
    </form>

</body>
</html>